<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- data source had to be changed to run on my laptop, will likely have to be renamed again when testing -->
		<add name="ChinookDatabase" connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=Chinook;Integrated Security=True"/>
	</connectionStrings>
</configuration>
